<%= current_user.name %>
<%= link_to "ログアウト", logout_path, data: {turbo_method: :delete} %>

<div class="posts_container">
  <div class="posts_header">
    <%= link_to "新規作成", new_post_path %>
  </div>
  <div class="posts_content">
    <div class="posts_top">
      <h2>計画一覧</h2>
    </div>
    <div class="postsList">
      <%= render partial: 'post_list', collection: @posts, as: 'post' %>
    </div>
  </div>
  <div class="posts_content">
    <div class="posts_top">
      <h2>完了済一覧</h2>
    </div>
    <div class="postsList">
      <%= render partial: 'post_list', collection: @posts_done, as: 'post' %>
    </div>
  </div>
</div>
