<div class="post_container">
  <div class="post_wrapper">
    <h3><%= @post.title %></h3>
    <% if @post.done_on.nil? %>
      <p>期日
        <% if @post.due_date == nil %>
          未設定
        <% else %>
          <%= l @post.due_date %>
        <% end %>
      </p>
    <% else %>
      <p>完了日
        <%= l @post.done_on %>
      </p>
    <% end %>
    </p>
    <p><%= @post.description %></p>
  </div>
  <% if @post.done_on == nil %>
    <%= link_to "編集する", edit_post_path %>
    <%= link_to "完了にする", done_path(@post.id), data: {turbo_method: :post} %>
  <% end %>
  <%= link_to "一覧に戻る", posts_path %>
</div>
