<div class="memo_content"  id="memo">
  <% @memos.each_with_index do |memo, index| %>
    <ul class="memo_form">
      <li v-show="!isShowEditForm(<%= index %>)"><%= memo.body %></li>
      <div v-show="isShowEditForm(<%= index %>)">
        <%= form_with model: [@post, memo], local: true do |f| %>
          <%= f.text_area :body, value: memo.body %>
          <%= f.submit "更新" %>
        <% end %>
      </div>
      <button @click="toggleEditForm(<%= index %>)">{{ isShowEditForm(<%= index %>) ? 'キャンセル' : '編集' }}</button>
      <%= link_to "削除", post_memo_path(@post, memo), data: { turbo_method: :delete, turbo_confirm: "メモを削除しますか？" } %>
    </ul>
  <% end %>
</div>

<script>
  new Vue({
    el: "#memo",
    data: {
      showForm: null,
      activeMemoIndex: null,
      memo: {
        body: this.memo.body
      }
    },
    methods: {
      toggleEditForm(index) {
        if (this.activeMemoIndex === index) {
          this.showForm = null;
          this.activeMemoIndex = null;
        } else {
          this.showForm = true;
          this.activeMemoIndex = index;
        }
      },
      isShowEditForm(index) {
        return this.showForm && this.activeMemoIndex === index;
      }
    }
  });
</script>
