<div class="memo_content" id="memo">
  <ul class="memo_form">
    <% @memos.each_with_index do |memo, index| %>
      <li v-show="!isShowEditForm(<%= index %>)"><%= memo.body %></li>
      <div v-show="isShowEditForm(<%= index %>)">
        <%= form_with model: [@post, memo], local: true do |f| %>
          <%= f.text_area :body, value: memo.body %>
          <%= f.submit "更新" %>
        <% end %>
      </div>
      <button @click="toggleEditForm(<%= index %>)">{{ isShowEditForm(<%= index %>) ? 'キャンセル' : '編集' }}</button>
      <%= link_to "削除", post_memo_path(@post, memo), data: { turbo_method: :delete, turbo_confirm: "メモを削除しますか？" } %>
    <% end %>
  </ul>
</div>

<script>
  Vue.createApp ({
    setup() {
      const showForm = Vue.ref(null);
      const activeMemoIndex = Vue.ref(null);
      const memo = Vue.ref( {body: ''} );

      const toggleEditForm = (index) => {
        if (activeMemoIndex.value === index) {
          showForm.value = null;
          activeMemoIndex.value = null;
        } else {
          showForm.value = true;
          activeMemoIndex.value = index;
        }
      };

      const isShowEditForm = (index) => {
        return showForm.value && activeMemoIndex.value === index;
      };

      return {
        showForm,
        activeMemoIndex,
        memo,
        toggleEditForm,
        isShowEditForm
      };
    }
  }).mount('#memo');
</script>
